# SPDX-License-Identifier: Apache-2.0

config SIMPLE_STEPPER
	bool "Simple Step/Dir/Enable Stepper Driver"
	default y
	depends on DT_HAS_SIMPLE_STEPPER_ENABLED
	depends on GPIO
	help
	  Enable support for simple step/direction/enable stepper motor drivers.
	  This driver provides basic control using three GPIO pins: step, direction,
	  and enable.
