/*
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 / {
	stepper: stepper {
		compatible = "stepper";
		gpios = <&gpioe 9 GPIO_ACTIVE_HIGH>, /* D6 */
		        <&gpioe 11 GPIO_ACTIVE_HIGH>; /* D5 */
		#pitch = <2>;
		pulses_per_rev = <50000>;
	};


	aliases {
		pwmir = &ir_pwm_led;
	};

	pwmleds {
		compatible = "pwm-leds";
		ir_pwm_led: ir_pwm_led {
			pwms = <&pwm5 4 4 PWM_POLARITY_NORMAL>;
			label = "IR LED - A0";
		};
	};

	chosen {
		rail,pwmir = &ir_pwm_led;
	};
};

&arduino_i2c {
	status = "okay";
	touch_controller: ft5336@38 {
		compatible = "focaltech,ft5336";
		reg = <0x38>;
		/* label = "FT5336"; */
		/* Uncomment if IRQ line is available (requires to solder jumper) */
		/* int-gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>; */ /* D7 */
	};
};

&arduino_spi {
	ili9340@0 {
		rotation = < 90 >;
		compatible = "ilitek,ili9340";
	};
};

// &arduino_serial {
// 	status = "okay";
// 	current-speed = <115200>;
// 
// 	esp8266 {
// 		compatible = "espressif,esp";
// 		label = "esp8266";
// 		status = "okay";
// 	};
// };

&timers5 {
    status = "okay";

    pwm5: pwm {
        status = "okay";
		/* st,prescaler = < 2 >; */
		pinctrl-names = "default";
        pinctrl-0 = <&tim5_ch4_pa3>; /* A0 */
    };
};

