/*
 *
 * SPDX-License-Identifier: Apache-2.0
 */
//#include <zephyr/dt-bindings/input/input-event-codes.h>
//#include <zephyr/dt-bindings/lvgl/lvgl.h>
/ {
    stepper: stepper {
        compatible = "maxhbr,stepper";
        gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>, /* "Green - LED1" */
                <&gpio0 0 GPIO_ACTIVE_HIGH>;     /* Red - LED2 */
        //pitch = <2>;
        //pulses_per_rev = <50000>;
    };
};

&ili9341 {
  width = <320>;
  height = <240>;
  rotation = <90>;
};
