/*
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/ {
    stepper: stepper {
        compatible = "maxhbr,stepper";
        gpios = <&gpio0 30 GPIO_ACTIVE_LOW>, /* led2 */
                <&gpio0 31 GPIO_ACTIVE_LOW>; /* led3 */
        // pitch = <2>;
        // pulses_per_rev = <50000>;
    };

    pwmleds {
        compatible = "pwm-leds";
        ir_pwm_led: ir_pwm_led {
            pwms = <&sw_pwm 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
            label = "IR LED";
        };
    };

    chosen {
        rail,pwmir = &ir_pwm_led;
    };
};
