/*
 * XIAO nRF52840 overlay
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,settings-partition = &storage_partition;
	};

	stepper_motor: stepper_motor {
		compatible = "simple-stepper";
		status = "okay";
        step-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
        dir-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
        en-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
		micro-step-res = <256>;
		invert-pins;
	};
};
