
/*
 * XIAO nRF52840 overlay
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	stepper_motor: stepper_motor {
		compatible = "simple-stepper";
		status = "okay";
		step-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
		dirgpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
		en-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
		micro-step-res = <16>;
		invert-pins;
	};
};